AcquireNASAServerLogs.json
{"flowContents":{"identifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac","instanceIdentifier":"9e45fda7-018e-1000-ffff-ffffba998053","name":"AcquireNASAServerLogs","comments":"","position":{"x":462.0,"y":182.0},"processGroups":[{"identifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4","instanceIdentifier":"9f756c3c-018e-1000-ffff-ffff8210a44d","name":"Split to lines&enrich","comments":"","position":{"x":296.0,"y":448.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fb403ea9-a276-394c-8a78-3170351412e0","instanceIdentifier":"de1747af-f804-3389-b34c-819a17e9670a","name":"Split10000LinesOfText","comments":"","position":{"x":832.0,"y":352.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"10000"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"08070c35-2630-325e-8cd6-3e69ca5fe728","instanceIdentifier":"2f3fc0f2-7d64-3b42-894e-a90ef84aa437","name":"ExtractText","comments":"","position":{"x":1344.0,"y":352.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Request_Type":"\\\"(.*?)\\\"","Enable Unicode-aware Case Folding":"false","IP":"(\\b(?:\\d{1,3}\\.){3}\\d{1,3}\\b)","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Time":"\\[(.*?)\\]","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Response_Code":"HTTP\\/\\d\\.\\d\" (\\d{3})","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Request_Type":{"name":"Request_Type","displayName":"Request_Type","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"IP":{"name":"IP","displayName":"IP","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Time":{"name":"Time","displayName":"Time","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Response_Code":{"name":"Response_Code","displayName":"Response_Code","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"edc5b79a-df77-3e12-a3bf-d06af2e6c947","instanceIdentifier":"30fa4d48-0fee-3674-9866-9af743a578ef","name":"Split100LinesOfText","comments":"","position":{"x":832.0,"y":528.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"100"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"EVENT_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":0,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"ecc016b7-3072-37c4-8ba6-03df6b1023d6","instanceIdentifier":"a340f1f7-7be4-3558-a66e-8c82ae34f8f7","name":"GeoEnrichIP","comments":"","position":{"x":1344.0,"y":704.0},"type":"org.apache.nifi.processors.GeoEnrichIP","bundle":{"group":"org.apache.nifi","artifact":"nifi-enrich-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Geo Database File":"/nasademo/GeoLite2-City.mmdb","IP Address Attribute":"IP"},"propertyDescriptors":{"Geo Database File":{"name":"Geo Database File","displayName":"MaxMind Database File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","DIRECTORY"]}},"IP Address Attribute":{"name":"IP Address Attribute","displayName":"IP Address Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["not found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"b82f34fc-aa7f-3fae-9192-c0d8a336570b","instanceIdentifier":"110a47b9-16f4-36ce-b424-28bacc4f5a85","name":"Split100000LinesOfText","comments":"","position":{"x":192.0,"y":352.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"100000"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"9efeda62-62dd-3b6a-9785-aa8bdc6c03ef","instanceIdentifier":"f7425fcc-f93e-30e1-9be4-45cd911d677e","name":"Split10LinesOfText","comments":"","position":{"x":192.0,"y":712.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"10"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"EVENT_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":0,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"c214c15f-3a29-33ea-84a6-a9393b8bae43","instanceIdentifier":"4d960ba5-bd72-3489-b5bb-0b8cfcc2f9f2","name":"RouteOnAttribute","comments":"","position":{"x":1344.0,"y":528.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Routing Strategy":"Route to 'match' if all match","Check_time":"${Time:isEmpty():not()}","Check_requestType":"${Request_Type:isEmpty():not()}","Check_to_remove_hostname":"${IP:startsWith('1'):or(${IP:startsWith('2')})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Check_time":{"name":"Check_time","displayName":"Check_time","identifiesControllerService":false,"sensitive":false},"Check_requestType":{"name":"Check_requestType","displayName":"Check_requestType","identifiesControllerService":false,"sensitive":false},"Check_to_remove_hostname":{"name":"Check_to_remove_hostname","displayName":"Check_to_remove_hostname","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"5ae55133-3780-3714-a6f6-c2a320b001a9","instanceIdentifier":"f4dbda28-e35d-3dbf-8fbe-b701d4b7284a","name":"Split1LinesOfText","comments":"","position":{"x":832.0,"y":712.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"EVENT_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":0,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"611586e6-8922-3e0e-ab39-81408e033561","instanceIdentifier":"d31e1603-c360-3840-aa56-4d84392f344a","name":"Split1000LinesOfText","comments":"","position":{"x":192.0,"y":528.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1000"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"4f9781e9-bedf-32f2-845f-b6cc09f24929","instanceIdentifier":"bd830a8e-95a9-37c5-a900-45c46ec004dc","name":"ReplaceText","comments":"","position":{"x":1800.0,"y":704.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"${IP}|${Time}|${Request_Type}|${Response_Code}|${IP.geo.city}|${IP.geo.country}|${IP.geo.country.isocode}|${IP.geo.latitude}|${IP.geo.longitude}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"7f125716-422e-3440-b16e-5383d06f77c6","instanceIdentifier":"b16aead7-a45a-36a3-98ee-19e0e3c3c5f3","name":"RouteOnAttribute","comments":"","position":{"x":1800.0,"y":344.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Routing Strategy":"Route to 'match' if all match","Check_city":"${IP.geo.city:isEmpty():not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Check_city":{"name":"Check_city","displayName":"Check_city","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"}],"inputPorts":[{"identifier":"a1921fce-c45f-3cf1-8192-7e965bd82e6c","instanceIdentifier":"9f7b3188-018e-1000-0000-00005851ebec","name":"input","position":{"x":-208.0,"y":384.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"}],"outputPorts":[{"identifier":"a49916b4-1f26-323a-8fa1-a07640040a6b","instanceIdentifier":"9f7ba60d-018e-1000-ffff-ffffac4a3257","name":"output","position":{"x":2448.0,"y":760.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"}],"connections":[{"identifier":"c8138d1f-9956-3ff6-a52c-fdbc5ef9e349","instanceIdentifier":"50be44e1-81bc-3bae-b7ea-dec9728a98dd","name":"","source":{"id":"5ae55133-3780-3714-a6f6-c2a320b001a9","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split1LinesOfText","comments":"","instanceIdentifier":"f4dbda28-e35d-3dbf-8fbe-b701d4b7284a"},"destination":{"id":"08070c35-2630-325e-8cd6-3e69ca5fe728","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"ExtractText","comments":"","instanceIdentifier":"2f3fc0f2-7d64-3b42-894e-a90ef84aa437"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"2e3a805a-b654-3975-88fd-9933eba5c1a7","instanceIdentifier":"72c954f6-3a6d-3bcd-9815-30859ffad13b","name":"","source":{"id":"611586e6-8922-3e0e-ab39-81408e033561","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split1000LinesOfText","comments":"","instanceIdentifier":"d31e1603-c360-3840-aa56-4d84392f344a"},"destination":{"id":"edc5b79a-df77-3e12-a3bf-d06af2e6c947","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split100LinesOfText","comments":"","instanceIdentifier":"30fa4d48-0fee-3674-9866-9af743a578ef"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"322be430-9832-3a27-8dbb-c65343c6b0b5","instanceIdentifier":"2d7ab55a-cb8b-38d6-9264-7b3af996039e","name":"","source":{"id":"edc5b79a-df77-3e12-a3bf-d06af2e6c947","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split100LinesOfText","comments":"","instanceIdentifier":"30fa4d48-0fee-3674-9866-9af743a578ef"},"destination":{"id":"9efeda62-62dd-3b6a-9785-aa8bdc6c03ef","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split10LinesOfText","comments":"","instanceIdentifier":"f7425fcc-f93e-30e1-9be4-45cd911d677e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"7fc25921-b1c6-3b01-8497-be8c4df2fe43","instanceIdentifier":"fd4ea02a-b9c4-38e5-9711-eb536b872b54","name":"","source":{"id":"9efeda62-62dd-3b6a-9785-aa8bdc6c03ef","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split10LinesOfText","comments":"","instanceIdentifier":"f7425fcc-f93e-30e1-9be4-45cd911d677e"},"destination":{"id":"5ae55133-3780-3714-a6f6-c2a320b001a9","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split1LinesOfText","comments":"","instanceIdentifier":"f4dbda28-e35d-3dbf-8fbe-b701d4b7284a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"fe08824c-031b-310a-92cc-09f6b48c0791","instanceIdentifier":"9f7bc9b4-018e-1000-0000-000032595d81","name":"","source":{"id":"4f9781e9-bedf-32f2-845f-b6cc09f24929","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"ReplaceText","comments":"","instanceIdentifier":"bd830a8e-95a9-37c5-a900-45c46ec004dc"},"destination":{"id":"a49916b4-1f26-323a-8fa1-a07640040a6b","type":"OUTPUT_PORT","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"output","instanceIdentifier":"9f7ba60d-018e-1000-ffff-ffffac4a3257"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"9399ad12-e531-3c57-a16f-f541921ff994","instanceIdentifier":"98f1ea2d-5f83-36ad-bcac-6cf3ce24a866","name":"","source":{"id":"fb403ea9-a276-394c-8a78-3170351412e0","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split10000LinesOfText","comments":"","instanceIdentifier":"de1747af-f804-3389-b34c-819a17e9670a"},"destination":{"id":"611586e6-8922-3e0e-ab39-81408e033561","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split1000LinesOfText","comments":"","instanceIdentifier":"d31e1603-c360-3840-aa56-4d84392f344a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"2b41515c-7ee0-3d36-8d21-9cc4ede97180","instanceIdentifier":"dbd21f61-9d1a-37f8-af9d-98139806e5aa","name":"","source":{"id":"c214c15f-3a29-33ea-84a6-a9393b8bae43","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"4d960ba5-bd72-3489-b5bb-0b8cfcc2f9f2"},"destination":{"id":"ecc016b7-3072-37c4-8ba6-03df6b1023d6","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"GeoEnrichIP","comments":"","instanceIdentifier":"a340f1f7-7be4-3558-a66e-8c82ae34f8f7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"b2dbc156-1d2b-3442-bfd8-1dd2e99a5e35","instanceIdentifier":"0feda840-415d-3bc1-98da-0c38a1071c53","name":"","source":{"id":"08070c35-2630-325e-8cd6-3e69ca5fe728","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"ExtractText","comments":"","instanceIdentifier":"2f3fc0f2-7d64-3b42-894e-a90ef84aa437"},"destination":{"id":"c214c15f-3a29-33ea-84a6-a9393b8bae43","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"4d960ba5-bd72-3489-b5bb-0b8cfcc2f9f2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"c6dd16c4-920f-352b-9acd-849fbf60d5db","instanceIdentifier":"fb701357-1896-32e6-9568-d1d7916c0667","name":"","source":{"id":"ecc016b7-3072-37c4-8ba6-03df6b1023d6","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"GeoEnrichIP","comments":"","instanceIdentifier":"a340f1f7-7be4-3558-a66e-8c82ae34f8f7"},"destination":{"id":"7f125716-422e-3440-b16e-5383d06f77c6","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b16aead7-a45a-36a3-98ee-19e0e3c3c5f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"c1d42ebf-b6d7-347d-affa-0d53a37d1901","instanceIdentifier":"9f7b4caa-018e-1000-0000-000013be57f0","name":"","source":{"id":"a1921fce-c45f-3cf1-8192-7e965bd82e6c","type":"INPUT_PORT","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"input","instanceIdentifier":"9f7b3188-018e-1000-0000-00005851ebec"},"destination":{"id":"b82f34fc-aa7f-3fae-9192-c0d8a336570b","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split100000LinesOfText","comments":"","instanceIdentifier":"110a47b9-16f4-36ce-b424-28bacc4f5a85"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"efd165f1-5e6b-3de5-a175-b16619dcc8f2","instanceIdentifier":"41913773-5ced-3547-946f-999b6355469e","name":"","source":{"id":"b82f34fc-aa7f-3fae-9192-c0d8a336570b","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split100000LinesOfText","comments":"","instanceIdentifier":"110a47b9-16f4-36ce-b424-28bacc4f5a85"},"destination":{"id":"fb403ea9-a276-394c-8a78-3170351412e0","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split10000LinesOfText","comments":"","instanceIdentifier":"de1747af-f804-3389-b34c-819a17e9670a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"01cfa530-fbd6-32ff-aecd-2f3fa24d9282","instanceIdentifier":"abf23969-0c1e-38e8-a9bf-979baecae8df","name":"","source":{"id":"7f125716-422e-3440-b16e-5383d06f77c6","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b16aead7-a45a-36a3-98ee-19e0e3c3c5f3"},"destination":{"id":"4f9781e9-bedf-32f2-845f-b6cc09f24929","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"ReplaceText","comments":"","instanceIdentifier":"bd830a8e-95a9-37c5-a900-45c46ec004dc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"}],"remoteProcessGroups":[],"processors":[{"identifier":"31c5303a-ed46-3947-aa6b-0401ccf0ae45","instanceIdentifier":"86c18927-6344-3d85-aa49-74f01db7c564","name":"PutHDFS","comments":"","position":{"x":576.0,"y":1048.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"/nifi","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"},{"identifier":"68def3c1-9b7b-37b3-9c91-108c938c4184","instanceIdentifier":"476fc86b-e0a7-3caa-9634-68f921e6f0fc","name":"GrabNASALogs","comments":"","position":{"x":312.0,"y":192.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/nasademo/NASALogs/","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"},{"identifier":"3b102ebb-5577-33dc-907d-5510df1704e0","instanceIdentifier":"643aa6f1-aecf-33a0-b243-baced6dab485","name":"UpdateAttribute","comments":"","position":{"x":576.0,"y":864.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Delete Attributes Expression":null,"filename":"logsample-${now():format(\"HHmmssSSS\")}-${UUID()}-.txt","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"},{"identifier":"d9f7f7ff-94e8-39cb-9c50-eabbe425ce9f","instanceIdentifier":"7b81c576-3f0a-3d22-9a4c-85a0251ac74e","name":"MergeContent","comments":"","position":{"x":576.0,"y":680.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"40","Minimum Group Size":"0 B","Maximum number of Bins":"100","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":"\n","Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"20"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"},{"identifier":"fff0bee6-690e-3ea1-99df-14494059f1bd","instanceIdentifier":"9f4e748c-018e-1000-0000-000047295c98","name":"ExtractGrok","comments":"","position":{"x":48.0,"y":688.0},"type":"org.apache.nifi.processors.standard.ExtractGrok","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Grok Expression":"%{IP:ip_address}\\|%{HTTPDATE:timestamp}\\|%{WORD:request_method} %{URIPATH:request_uri} HTTP/%{NUMBER:http_version}\\|%{NUMBER:status_code}\\|%{WORD:city}\\|%{WORD:country}\\|%{WORD:country_code}\\|%{NUMBER:latitude}\\|%{NUMBER:longitude}","Destination":"flowfile-content","Keep Empty Captures":"true","Grok Pattern file":null,"Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Named captures only":"false"},"propertyDescriptors":{"Grok Expression":{"name":"Grok Expression","displayName":"Grok Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Keep Empty Captures":{"name":"Keep Empty Captures","displayName":"Keep Empty Captures","identifiesControllerService":false,"sensitive":false},"Grok Pattern file":{"name":"Grok Pattern file","displayName":"Grok Patterns","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT","URL"]}},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Named captures only":{"name":"Named captures only","displayName":"Named captures only","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"},{"identifier":"14912487-c79e-30fb-af2c-175f1a9b4dbc","instanceIdentifier":"9e47277f-018e-1000-ffff-fffffab946d8","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":48.0,"y":864.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"58d973f3-aebf-3230-b786-0dff864321d2","bootstrap.servers":"cdp.34.250.93.172.nip.io:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"c4ebefb0-5934-322b-b152-9481b1e9a26d","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"logs","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"31b71980-3f1c-3486-904b-cff05183c154","instanceIdentifier":"9f7bf379-018e-1000-ffff-ffffe4feb8ef","name":"","source":{"id":"68def3c1-9b7b-37b3-9c91-108c938c4184","type":"PROCESSOR","groupId":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac","name":"GrabNASALogs","comments":"","instanceIdentifier":"476fc86b-e0a7-3caa-9634-68f921e6f0fc"},"destination":{"id":"a1921fce-c45f-3cf1-8192-7e965bd82e6c","type":"INPUT_PORT","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"input","instanceIdentifier":"9f7b3188-018e-1000-0000-00005851ebec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"},{"identifier":"364b2e36-61d6-37ff-aebc-ac076823e8d9","instanceIdentifier":"6552cb84-4b13-3b54-9141-f78ddd23d904","name":"","source":{"id":"d9f7f7ff-94e8-39cb-9c50-eabbe425ce9f","type":"PROCESSOR","groupId":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac","name":"MergeContent","comments":"","instanceIdentifier":"7b81c576-3f0a-3d22-9a4c-85a0251ac74e"},"destination":{"id":"3b102ebb-5577-33dc-907d-5510df1704e0","type":"PROCESSOR","groupId":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac","name":"UpdateAttribute","comments":"","instanceIdentifier":"643aa6f1-aecf-33a0-b243-baced6dab485"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"},{"identifier":"4924cc27-376f-39b3-a6d2-55e3b463bce7","instanceIdentifier":"9f7c2295-018e-1000-0000-0000401e6d48","name":"","source":{"id":"a49916b4-1f26-323a-8fa1-a07640040a6b","type":"OUTPUT_PORT","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"output","instanceIdentifier":"9f7ba60d-018e-1000-ffff-ffffac4a3257"},"destination":{"id":"fff0bee6-690e-3ea1-99df-14494059f1bd","type":"PROCESSOR","groupId":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac","name":"ExtractGrok","comments":"","instanceIdentifier":"9f4e748c-018e-1000-0000-000047295c98"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"},{"identifier":"f784acfe-c6c9-391f-be55-8a3963d6b631","instanceIdentifier":"9f7c1352-018e-1000-0000-00007a1a74f2","name":"","source":{"id":"a49916b4-1f26-323a-8fa1-a07640040a6b","type":"OUTPUT_PORT","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"output","instanceIdentifier":"9f7ba60d-018e-1000-ffff-ffffac4a3257"},"destination":{"id":"d9f7f7ff-94e8-39cb-9c50-eabbe425ce9f","type":"PROCESSOR","groupId":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac","name":"MergeContent","comments":"","instanceIdentifier":"7b81c576-3f0a-3d22-9a4c-85a0251ac74e"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"},{"identifier":"a45c66e2-5833-3254-9263-a5f29e603dab","instanceIdentifier":"9f666327-018e-1000-ffff-ffffa8b9b29e","name":"","source":{"id":"fff0bee6-690e-3ea1-99df-14494059f1bd","type":"PROCESSOR","groupId":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac","name":"ExtractGrok","comments":"","instanceIdentifier":"9f4e748c-018e-1000-0000-000047295c98"},"destination":{"id":"14912487-c79e-30fb-af2c-175f1a9b4dbc","type":"PROCESSOR","groupId":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"9e47277f-018e-1000-ffff-fffffab946d8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"},{"identifier":"ecdbbd6d-e8f1-3ddf-adb8-1353b4d10322","instanceIdentifier":"9f12561b-018e-1000-ffff-ffffab857f2d","name":"","source":{"id":"3b102ebb-5577-33dc-907d-5510df1704e0","type":"PROCESSOR","groupId":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac","name":"UpdateAttribute","comments":"","instanceIdentifier":"643aa6f1-aecf-33a0-b243-baced6dab485"},"destination":{"id":"31c5303a-ed46-3947-aa6b-0401ccf0ae45","type":"PROCESSOR","groupId":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac","name":"PutHDFS","comments":"","instanceIdentifier":"86c18927-6344-3d85-aa49-74f01db7c564"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"4e0a1a44-e948-3081-89bc-7f6301778f54","instanceIdentifier":"9e7f5dd7-018e-1000-ffff-ffffac38f119","name":"HortonworksSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"ssl-context-service":null,"cache-size":"1000","kerberos-principal":null,"basic-auth-username":null,"url":"http://cdp.34.250.93.172.nip.io:7788/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"},{"identifier":"c4ebefb0-5934-322b-b152-9481b1e9a26d","instanceIdentifier":"9e817f55-018e-1000-0000-00006943d520","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":"4e0a1a44-e948-3081-89bc-7f6301778f54","starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"},{"identifier":"58d973f3-aebf-3230-b786-0dff864321d2","instanceIdentifier":"9e82003e-018e-1000-0000-00007b00d1e1","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"4e0a1a44-e948-3081-89bc-7f6301778f54","Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"af501bc3-fdc1-33a1-ac73-e7fc0dea0bac"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}