Split_to_lines&enrich.json
{"flowContents":{"identifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4","instanceIdentifier":"9f756c3c-018e-1000-ffff-ffff8210a44d","name":"Split to lines&enrich","comments":"","position":{"x":296.0,"y":448.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fb403ea9-a276-394c-8a78-3170351412e0","instanceIdentifier":"de1747af-f804-3389-b34c-819a17e9670a","name":"Split10000LinesOfText","comments":"","position":{"x":832.0,"y":352.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"10000"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"08070c35-2630-325e-8cd6-3e69ca5fe728","instanceIdentifier":"2f3fc0f2-7d64-3b42-894e-a90ef84aa437","name":"ExtractText","comments":"","position":{"x":1344.0,"y":352.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Request_Type":"\\\"(.*?)\\\"","Enable Unicode-aware Case Folding":"false","IP":"(\\b(?:\\d{1,3}\\.){3}\\d{1,3}\\b)","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Time":"\\[(.*?)\\]","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Response_Code":"HTTP\\/\\d\\.\\d\" (\\d{3})","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Request_Type":{"name":"Request_Type","displayName":"Request_Type","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"IP":{"name":"IP","displayName":"IP","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Time":{"name":"Time","displayName":"Time","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Response_Code":{"name":"Response_Code","displayName":"Response_Code","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"edc5b79a-df77-3e12-a3bf-d06af2e6c947","instanceIdentifier":"30fa4d48-0fee-3674-9866-9af743a578ef","name":"Split100LinesOfText","comments":"","position":{"x":832.0,"y":528.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"100"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"EVENT_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":0,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"ecc016b7-3072-37c4-8ba6-03df6b1023d6","instanceIdentifier":"a340f1f7-7be4-3558-a66e-8c82ae34f8f7","name":"GeoEnrichIP","comments":"","position":{"x":1344.0,"y":704.0},"type":"org.apache.nifi.processors.GeoEnrichIP","bundle":{"group":"org.apache.nifi","artifact":"nifi-enrich-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Geo Database File":"/nasademo/GeoLite2-City.mmdb","IP Address Attribute":"IP"},"propertyDescriptors":{"Geo Database File":{"name":"Geo Database File","displayName":"MaxMind Database File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","DIRECTORY"]}},"IP Address Attribute":{"name":"IP Address Attribute","displayName":"IP Address Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["not found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"b82f34fc-aa7f-3fae-9192-c0d8a336570b","instanceIdentifier":"110a47b9-16f4-36ce-b424-28bacc4f5a85","name":"Split100000LinesOfText","comments":"","position":{"x":192.0,"y":352.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"100000"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"9efeda62-62dd-3b6a-9785-aa8bdc6c03ef","instanceIdentifier":"f7425fcc-f93e-30e1-9be4-45cd911d677e","name":"Split10LinesOfText","comments":"","position":{"x":192.0,"y":712.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"10"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"EVENT_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":0,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"c214c15f-3a29-33ea-84a6-a9393b8bae43","instanceIdentifier":"4d960ba5-bd72-3489-b5bb-0b8cfcc2f9f2","name":"RouteOnAttribute","comments":"","position":{"x":1344.0,"y":528.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Routing Strategy":"Route to 'match' if all match","Check_time":"${Time:isEmpty():not()}","Check_requestType":"${Request_Type:isEmpty():not()}","Check_to_remove_hostname":"${IP:startsWith('1'):or(${IP:startsWith('2')})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Check_time":{"name":"Check_time","displayName":"Check_time","identifiesControllerService":false,"sensitive":false},"Check_requestType":{"name":"Check_requestType","displayName":"Check_requestType","identifiesControllerService":false,"sensitive":false},"Check_to_remove_hostname":{"name":"Check_to_remove_hostname","displayName":"Check_to_remove_hostname","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"5ae55133-3780-3714-a6f6-c2a320b001a9","instanceIdentifier":"f4dbda28-e35d-3dbf-8fbe-b701d4b7284a","name":"Split1LinesOfText","comments":"","position":{"x":832.0,"y":712.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"EVENT_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":0,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"611586e6-8922-3e0e-ab39-81408e033561","instanceIdentifier":"d31e1603-c360-3840-aa56-4d84392f344a","name":"Split1000LinesOfText","comments":"","position":{"x":192.0,"y":528.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1000"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"4f9781e9-bedf-32f2-845f-b6cc09f24929","instanceIdentifier":"bd830a8e-95a9-37c5-a900-45c46ec004dc","name":"ReplaceText","comments":"","position":{"x":1800.0,"y":704.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"${IP}|${Time}|${Request_Type}|${Response_Code}|${IP.geo.city}|${IP.geo.country}|${IP.geo.country.isocode}|${IP.geo.latitude}|${IP.geo.longitude}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"7f125716-422e-3440-b16e-5383d06f77c6","instanceIdentifier":"b16aead7-a45a-36a3-98ee-19e0e3c3c5f3","name":"RouteOnAttribute","comments":"","position":{"x":1800.0,"y":344.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Routing Strategy":"Route to 'match' if all match","Check_city":"${IP.geo.city:isEmpty():not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Check_city":{"name":"Check_city","displayName":"Check_city","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"}],"inputPorts":[{"identifier":"a1921fce-c45f-3cf1-8192-7e965bd82e6c","instanceIdentifier":"9f7b3188-018e-1000-0000-00005851ebec","name":"input","position":{"x":-208.0,"y":384.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"}],"outputPorts":[{"identifier":"a49916b4-1f26-323a-8fa1-a07640040a6b","instanceIdentifier":"9f7ba60d-018e-1000-ffff-ffffac4a3257","name":"output","position":{"x":2448.0,"y":760.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"}],"connections":[{"identifier":"c8138d1f-9956-3ff6-a52c-fdbc5ef9e349","instanceIdentifier":"50be44e1-81bc-3bae-b7ea-dec9728a98dd","name":"","source":{"id":"5ae55133-3780-3714-a6f6-c2a320b001a9","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split1LinesOfText","comments":"","instanceIdentifier":"f4dbda28-e35d-3dbf-8fbe-b701d4b7284a"},"destination":{"id":"08070c35-2630-325e-8cd6-3e69ca5fe728","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"ExtractText","comments":"","instanceIdentifier":"2f3fc0f2-7d64-3b42-894e-a90ef84aa437"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"2e3a805a-b654-3975-88fd-9933eba5c1a7","instanceIdentifier":"72c954f6-3a6d-3bcd-9815-30859ffad13b","name":"","source":{"id":"611586e6-8922-3e0e-ab39-81408e033561","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split1000LinesOfText","comments":"","instanceIdentifier":"d31e1603-c360-3840-aa56-4d84392f344a"},"destination":{"id":"edc5b79a-df77-3e12-a3bf-d06af2e6c947","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split100LinesOfText","comments":"","instanceIdentifier":"30fa4d48-0fee-3674-9866-9af743a578ef"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"322be430-9832-3a27-8dbb-c65343c6b0b5","instanceIdentifier":"2d7ab55a-cb8b-38d6-9264-7b3af996039e","name":"","source":{"id":"edc5b79a-df77-3e12-a3bf-d06af2e6c947","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split100LinesOfText","comments":"","instanceIdentifier":"30fa4d48-0fee-3674-9866-9af743a578ef"},"destination":{"id":"9efeda62-62dd-3b6a-9785-aa8bdc6c03ef","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split10LinesOfText","comments":"","instanceIdentifier":"f7425fcc-f93e-30e1-9be4-45cd911d677e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"7fc25921-b1c6-3b01-8497-be8c4df2fe43","instanceIdentifier":"fd4ea02a-b9c4-38e5-9711-eb536b872b54","name":"","source":{"id":"9efeda62-62dd-3b6a-9785-aa8bdc6c03ef","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split10LinesOfText","comments":"","instanceIdentifier":"f7425fcc-f93e-30e1-9be4-45cd911d677e"},"destination":{"id":"5ae55133-3780-3714-a6f6-c2a320b001a9","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split1LinesOfText","comments":"","instanceIdentifier":"f4dbda28-e35d-3dbf-8fbe-b701d4b7284a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"fe08824c-031b-310a-92cc-09f6b48c0791","instanceIdentifier":"9f7bc9b4-018e-1000-0000-000032595d81","name":"","source":{"id":"4f9781e9-bedf-32f2-845f-b6cc09f24929","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"ReplaceText","comments":"","instanceIdentifier":"bd830a8e-95a9-37c5-a900-45c46ec004dc"},"destination":{"id":"a49916b4-1f26-323a-8fa1-a07640040a6b","type":"OUTPUT_PORT","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"output","instanceIdentifier":"9f7ba60d-018e-1000-ffff-ffffac4a3257"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"9399ad12-e531-3c57-a16f-f541921ff994","instanceIdentifier":"98f1ea2d-5f83-36ad-bcac-6cf3ce24a866","name":"","source":{"id":"fb403ea9-a276-394c-8a78-3170351412e0","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split10000LinesOfText","comments":"","instanceIdentifier":"de1747af-f804-3389-b34c-819a17e9670a"},"destination":{"id":"611586e6-8922-3e0e-ab39-81408e033561","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split1000LinesOfText","comments":"","instanceIdentifier":"d31e1603-c360-3840-aa56-4d84392f344a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"2b41515c-7ee0-3d36-8d21-9cc4ede97180","instanceIdentifier":"dbd21f61-9d1a-37f8-af9d-98139806e5aa","name":"","source":{"id":"c214c15f-3a29-33ea-84a6-a9393b8bae43","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"4d960ba5-bd72-3489-b5bb-0b8cfcc2f9f2"},"destination":{"id":"ecc016b7-3072-37c4-8ba6-03df6b1023d6","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"GeoEnrichIP","comments":"","instanceIdentifier":"a340f1f7-7be4-3558-a66e-8c82ae34f8f7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"b2dbc156-1d2b-3442-bfd8-1dd2e99a5e35","instanceIdentifier":"0feda840-415d-3bc1-98da-0c38a1071c53","name":"","source":{"id":"08070c35-2630-325e-8cd6-3e69ca5fe728","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"ExtractText","comments":"","instanceIdentifier":"2f3fc0f2-7d64-3b42-894e-a90ef84aa437"},"destination":{"id":"c214c15f-3a29-33ea-84a6-a9393b8bae43","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"4d960ba5-bd72-3489-b5bb-0b8cfcc2f9f2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"c6dd16c4-920f-352b-9acd-849fbf60d5db","instanceIdentifier":"fb701357-1896-32e6-9568-d1d7916c0667","name":"","source":{"id":"ecc016b7-3072-37c4-8ba6-03df6b1023d6","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"GeoEnrichIP","comments":"","instanceIdentifier":"a340f1f7-7be4-3558-a66e-8c82ae34f8f7"},"destination":{"id":"7f125716-422e-3440-b16e-5383d06f77c6","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b16aead7-a45a-36a3-98ee-19e0e3c3c5f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"c1d42ebf-b6d7-347d-affa-0d53a37d1901","instanceIdentifier":"9f7b4caa-018e-1000-0000-000013be57f0","name":"","source":{"id":"a1921fce-c45f-3cf1-8192-7e965bd82e6c","type":"INPUT_PORT","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"input","instanceIdentifier":"9f7b3188-018e-1000-0000-00005851ebec"},"destination":{"id":"b82f34fc-aa7f-3fae-9192-c0d8a336570b","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split100000LinesOfText","comments":"","instanceIdentifier":"110a47b9-16f4-36ce-b424-28bacc4f5a85"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"efd165f1-5e6b-3de5-a175-b16619dcc8f2","instanceIdentifier":"41913773-5ced-3547-946f-999b6355469e","name":"","source":{"id":"b82f34fc-aa7f-3fae-9192-c0d8a336570b","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split100000LinesOfText","comments":"","instanceIdentifier":"110a47b9-16f4-36ce-b424-28bacc4f5a85"},"destination":{"id":"fb403ea9-a276-394c-8a78-3170351412e0","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"Split10000LinesOfText","comments":"","instanceIdentifier":"de1747af-f804-3389-b34c-819a17e9670a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"},{"identifier":"01cfa530-fbd6-32ff-aecd-2f3fa24d9282","instanceIdentifier":"abf23969-0c1e-38e8-a9bf-979baecae8df","name":"","source":{"id":"7f125716-422e-3440-b16e-5383d06f77c6","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b16aead7-a45a-36a3-98ee-19e0e3c3c5f3"},"destination":{"id":"4f9781e9-bedf-32f2-845f-b6cc09f24929","type":"PROCESSOR","groupId":"f90d5f61-83d0-3422-9555-4c347f4af3d4","name":"ReplaceText","comments":"","instanceIdentifier":"bd830a8e-95a9-37c5-a900-45c46ec004dc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f90d5f61-83d0-3422-9555-4c347f4af3d4"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"4e0a1a44-e948-3081-89bc-7f6301778f54","instanceIdentifier":"9e7f5dd7-018e-1000-ffff-ffffac38f119","name":"HortonworksSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"ssl-context-service":null,"cache-size":"1000","kerberos-principal":null,"basic-auth-username":null,"url":"http://cdp.34.250.93.172.nip.io:7788/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9f756c3c-018e-1000-ffff-ffff8210a44d"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}